* {
  padding: 0;
  margin: 0;
}
html {
  font-family: sans-serif;
}
body {
  overflow-x: hidden;
}
.banner {
  background: url("./images/banner.jpg");
  height: max-content;
  width: 100%;
}

.container {
  padding: 30px;
}
.nav1 {
  width: 20%;
}
.nav2 {
  width: 80%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background: transparent;
  flex-wrap: wrap;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}
.menu-item {
  padding: 30px 20px;
}
.menu-item a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.header {
  margin: 50px 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-text,
.header-image {
  width: 45%;
}
.header-text div {
  color: white;
  width: 50%;
}
.header-text div h3 {
  font-size: 42px;
}
.header-text div h1 {
  font-size: 81px;
}
.header-text div p {
  line-height: 28px;
  font-weight: 500;
  padding-bottom: 60px;
  display: block;
}
.header-text div h3,
.header-text div h2,
.header-text div p {
  margin: 20px 0px;
}
.header-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header-text button {
  padding: 20px;
  color: white;
  background: transparent;
  border: 2px solid white;
  width: 49%;
  font-size: 17px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.header-text button:hover {
  background: #48ca95;
}
.header-image img {
  width: 100%;
}
.cards-area {
  padding: 100px;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  border: 1px solid #48ca95;
  border-radius: 10px;
  padding: 50px;
  width: 250px;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.card p {
  margin-top: 10px;
  font-size: 17px;
  color: #050505;
  line-height: 30px;
}
.our-products-area {
  background: #f7f7f7;
  padding: 100px;
  height: max-content;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-products-area .title h1 {
  width: 600px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  border-bottom: #48ca95 solid 1px;
}
.products {
  margin: 80px 0;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.product button {
  padding: 10px;
  width: 100%;
  background-color: black;
  color: white;
  transition: 0.5s all ease-in-out;
}
.product button:hover {
  background: #48ca95;
}
.product {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.see-more-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.see-more-button button {
  padding: 20px;
  background: transparent;
  border: 2px solid #48ca95;
  width: 300px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s all ease-in-out;
  color: #48ca95;
}
.see-more-button button:hover {
  background: #48ca95;
  color: black;
}
.discount {
  background: #4f4aa6;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.discount-text {
  color: white;
  padding: 100px 0;
}
.p1 {
  display: block;
  font-size: 25px;
}
.p2 {
  font-size: 50px;
}
.discount .see-more-button {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 100px;
}
.contact-us {
  background: url("./images/contact_g.jpg");
  height: max-content;
  margin-top: 100px;
}
.contact-us-title {
  width: 100%;
  text-align: center;
  font-size: 50px;
  padding: 50px 0;
  color: white;
}
form {
  width: 70%;
  margin: auto;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
form input,
form textarea {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  height: 30px;
  padding: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
}
form > input {
  margin-top: 50px;
}
form input::placeholder {
  color: white;
}
form button {
  padding: 20px;
  background: #48ca95;
  color: whtie;
  border-radius: 20px;
  width: 200px;
  border: none;
  margin-bottom: 50px;
}

footer {
  width: 100%;
  background: url("./images/footer.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 115px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer div {
  width: 200px;
  height: max-content;
  color: white;
  text-align: center;
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .header-text,
  .header-image {
    width: 100%;
  }
  .nav1,
  .nav2 {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .header-text,
  .header-image {
    width: 100%;
  }
  .nav1,
  .nav2 {
    width: 100%;
  }
  .card {
    width: 230px;
    margin-bottom: 50px;
  }
  .header-text div {
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .header-text,
  .header-image {
    width: 100%;
  }
  .nav1,
  .nav2 {
    width: 100%;
  }
  form input,
  form textarea {
    width: 75%;
  }
  .product {
    width: 100%;

  }
  .card {
    margin-bottom: 50px;
  }
  .header-text div {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .header-text,
  .header-image {
    width: 100%;
  }

  .header-text {
    padding: 0px !important;
  }
  .header-text div {
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
  }
  .header-text div h1 {
    font-size: 50px;
  }
  .header-text button {
    width: 100%;
    margin: 20px 10px;
  }
  .header-text div p {
    padding-bottom: 10px;
  }
  .header-buttons {
    padding: 0px !important;
  }
  .nav1,
  .nav2 {
    width: 100%;
  }
  .cards-area {
    padding: 30px;
  }
  .card {
    width: 100%;
    margin-bottom: 20px;
  }
  .discount-image img {
    width: 100%;
  }
  form input,
  form textarea {
    width: 75%;
  }
  footer div {
    width: 100%;
  }
}
